.App {
  text-align: center;
  background-color: rgba(84, 199, 220, 0.522);
}

.row {
  display: flex;
  justify-content: center;
 
}

::-webkit-scrollbar{
  width: 7px;
  background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb{
  background-color: rgb(10, 83, 118);
  border-radius: 4px;
}

