

.search-box{
   position: absolute; 
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background:rgb(27, 185, 212);
   height: 40px;
   border-radius: 40px;
   padding-left: 0px;
}

.search-btn {
  border: none;
  color:rgb(255, 255, 255);
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;  
  background: rgb(27, 185, 212);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-txt{
  border: none;
  background: none;  
  outline: none;
  float: left;
  padding: 0;
  color: rgb(255, 255, 255);
  font-size: 16px;
  transition: 0.4s; 
  line-height: 40px;
  width: 0px;
}

.search-txt.open{
    width: 240px;
    padding-left: 10px; 
}

.search-box.open{
    width: 280px;
}